body{
	background-color:#EEEEEE;
	font-family:Arial;
}
h1{
	font-family:Arial;
	font-size:16pt; 
	font-weight:bold;
	margin-top:18pt; 
	margin-bottom:12pt; 
}
h2{
	font-family:Arial;
	font-size:14pt;
	font-weight:normal; 
	margin-top:12pt; 
	margin-bottom:12pt; 
}
h3{
	font-family:Arial;
	font-size:16pt;
	font-weight:bold;
	margin-top:45pt; 
	margin-bottom:0pt; 
}
table{
	font-family:Arial;
	margin-top:0pt; 
	margin-bottom:0pt; 
	width: 100%;

}
#pagecontainer{
	font-family:Arial;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	background-color:white;
	width:90%;
}
#header{
	font-family:Arial;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	background-color:white;
	width:100%;
}
#main{
	font-family:Arial;
	margin-left:0;
	margin-right:auto;
	margin-top:0px;
	background-color:white;
	width:600px;
	align-content: left;
}
img {
	display: block;
	margin-top: -80px;
	margin-right: -10px;
	width: 200px;
}
.container {
	display: flex;
	gap: 5px;
        }
#results, #resultsCC {
	flex: 1;
	border: 0px solid black; /* For visual reference */
	padding: 10px;
	margin: 5px;
	box-sizing: border-box;
}
.border-blue {
    border: 1px solid blue;
}
.border-red {
    border: 1px solid red;
}